.main {
    background-color: #8E1C11;
  }
  
  .navbar-nav.ml-auto .nav-link {
    color: #ffffff; /* optional: change the color of the navigation links */
  }


  .brand-text {
    text-align: center; /* Center the text */
    font-size: 24px; /* Increase the font size */
    font-weight: bold; /* Add font weight */
    color: #ffffff;
  }

  .section1{
    background-color: #8E1C11;
    margin: 0;
  }

  .office-image{
    width: 80%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 10%;
  }

  .subtext {
    font-size: 14px; /* Smaller font size */
    font-weight: lighter; /* Faded font weight */
    color: #EEC3C3;
    text-align: center;
  }

  .card-header{
    background-color: inherit;
  }

  .card-header button {
    text-decoration: none;
    font-size: 3vw;
    color: black;
    border: none; /* Remove button border */
    background-color: inherit;
    box-shadow: none; /* Remove button box shadow */
    transition: none; /* Remove button transition */

  }

  #serviceAccordion{
    background-color: inherit;
  }

  .card{
    margin-bottom: 30px;
    background-color: inherit;
    border: none;
  }
  .card-header button:focus {
    outline: none; /* Remove focus outline */
    text-decoration: none; /* Remove underline on focus */
    outline: none;
    background-color: transparent;
    box-shadow: none;
  }
  
  .card-header button:hover {
    text-decoration: none;
    outline: none;
    background-color: transparent;
    box-shadow: none;
  }

  .card-body{
    font-size: 1.2vw;
    width: 60%;
    border: none;
  }

  .button-tag{
    font-size: 1vw;
    margin-top: 2%;
  }

  .section2{
    background-color: #FFE1E1;
  }
  .section2-title{
    font-size: 2vw;
    font-weight: bold;
    color: #8E1C11;
    /* margin-top: 40px; */
    margin-bottom: 40px;
  }
  .section2-title2{
    font-size: 4vw;
    font-weight: bold;
    color: black;
    /* margin-top: 40px; */
    margin-bottom: 40px;
  }

  .section3{
    background-color: #8E1C11;
    height: 3600px;
  }

  .section3 > .client{
    font-size: 2vw;
    border-bottom: 1px solid #ffffff;
    width: 80%;
    font-weight: 800;
  }

  .client-content{
    font-size: 2.5vw;
    color: #ffffff;
    width: 80%;
    margin-top: 60px;
    margin-bottom: 20px;
    padding-top: 40px;

  }

  .client-items{
    display: flex;
    flex-wrap: wrap;
  }

  .client-item {
    flex: 0 0 25%; /* Display 4 items per row on larger screens */
    padding: 10px;
    box-sizing: border-box;
  }

  .client-response{
    position: absolute;
    top: 3342px;
    left: 300px;
  }

  
  input[type="text"],
  input[type="email"]{
    border: none;
    outline: none;
    background-color: transparent;
  }
  
  .section4{
    height: 600px;
    /* width: 100%; */
    background-color: black;
  }


  @media (max-width: 768px) {
    /* Adjust the layout for screens smaller than 768px */
    .client-item {
      flex: 0 0 50%; /* Display 2 items per row */
    }
  }

  @media (max-width: 768px) {
    .brand-text {
      font-size: 18px; /* Decrease the font size for smaller screens */
    }
  }